html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
time,
audio,
video {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
object {
  max-width: 100%;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

input,
select {
  vertical-align: middle;
}

input[type='radio'] {
  vertical-align: text-bottom;
}

input[type='checkbox'] {
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

label,
input[type='file'] {
  cursor: pointer;
}

input,
select,
textarea {
  border: 0;
  margin: 0;
}

button,
input[type='button'],
input[type='submit'] {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  background: #e74c3c;
  color: #ecf0f1;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.footer {
  display: flex;
  width: 100%;
  height: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  a {
    color: lighten(#ecf0f1, 5%);
    text-decoration: none;
  }
};

.description {
  padding-top: 5px;
  color: lighten(#ecf0f1, 1%);
  font-size: 14px;
}

.btn {
  margin: 12px;
  padding: 13px 18px;
  border-radius: 3px;
  background: #ecf0f1;
  font-size: 14px;
  outline: none;
  transition: all .2s ease-in;
  &:hover { background: darken(#ecf0f1, 3%); }
  &--small {
    @extend .btn;
    margin: 12px 4px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin-right: 5px;
  opacity: .7;
}

.by {
  display: inline-block;
  padding-left: 20px;
  a {
    color: #ecf0f1;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.repo-info {
  width: auto;
  margin-left: auto;
  margin-right: 0;
}
