/* Variables */
$modalian-border-radius: 10px;
$modalian-z-index: 9000;
$modalian-white: #fefefe;
$modalian-grey-light: #f8f8f8;
$modalian-grey: #c1c1c1;

.modalian {
  $root: &;
  &--show { animation: fadeIn .2s ease-in forwards; }
  &--hide { animation: fadeOut .2s ease-out forwards; }
  &--none { display: none; }

  &-mask {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, .35);
    z-index: 1000;
    &--show { animation: fadeIn .1s ease-in forwards; }
    &--hide { animation: fadeOut .2s ease-out forwards; }
    &--none { display: none; }
  }

  &-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $modalian-z-index;
    &--show { animation: fadeIn .3s ease-in forwards; }
    &--hide { animation: fadeOut .15s ease-out forwards; }
    &--none { display: none; }
  }

  &__content {
    display: block;
    position: relative;
    width: 500px;
    height: auto;
    font-family: sans-serif;
    background: $modalian-white;
    border-radius: $modalian-border-radius;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }


	&__header {
    display: flex;
    padding: 0 12px;
    height: 60px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: $modalian-grey-light;
    border-bottom: 1px solid $modalian-grey;
    &--hidden {
      @extend #{$root}__header;
      height: 0;
      border-bottom: none;
      > #{$root}__close-btn {
        top: 10px;
      }
      + #{$root}__body {
        top: 0;
        height: 100%;
      }
    }
    > h2 { font-size: 19px; }

  }

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 5px;
    z-index: $modalian-z-index + 1;
    cursor: pointer;
  }

  &__body {
    display: block;
    top: 60px;
    height: 100%;
    width: 100%;
  }

  &__footer {
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: $modalian-grey-light;
    border-top: 1px solid $modalian-grey;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 1 }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}
